<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>View your annual Strava statistics in 3D</title>
    <meta name="title" content="View your annual Strava statistics in 3D">
    <meta name="description" content="Generate a 3D model of your Strava activities and see your past efforts in a beautiful rendering. ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://strava-stats.quentinp.me/">
    <meta property="og:title" content="View your annual Strava statistics in 3D">
    <meta property="og:description" content="Generate a 3D model of your Strava activities and see your past efforts in a beautiful rendering. ">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://strava-stats.quentinp.me/">
    <meta property="twitter:title" content="View your annual Strava statistics in 3D">
    <meta property="twitter:description" content="Generate a 3D model of your Strava activities and see your past efforts in a beautiful rendering. ">
    <meta property="twitter:image" content="">

    <link rel="stylesheet" href="/styles/main.css">
    <script type="module" src="./src/main.js"></script>

</head>
<body>
    <data id="data-container" user="{{user}}"></data>
    <div id='popup-mobile'>
        <a id="close-mobile">&times;</a>
        <div class="content"></div>
        This website is optimized for desktop usage.
    </div>
    <div id='main-layout'>
        <div class="settings-container">
            <div id="settings-button">
                <img class="logo" src="/styles/settings.svg">
            </div>
            <div id="settings-panel" style="display: none;">
                <form id="settings-box" onsubmit="reload(event)">
                    <div class="form-group">
                        <label for="new_name">Name:</label>
                        <input name="new_name" id="new_name" type="text" placeholder="{{user}}"/>
                        <label for="scale">Scale:</label>
                        <input type="range" id="scale-slider" name="scale" min="0.1" max="2" step=".1" value="1"/>
                        <input type="submit" hidden />
                    </div>
                    
                </form>        
                <script>
                    function reload(event){
                        event.preventDefault();
                        restart();
                    }
                </script>  
                      
            </div>
        </div>

        <div class="center-selectors">
            <div id="year-selector">
                <select name="metric" class="white-option transparent-selector" id="metric">
                    <option selected value="distance">Distance</option>
                    <option value="elevation">Elevation</option>
                </select> 
                <select name="year" class="white-option transparent-selector" id="year">
                    {{#each availableYears}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select> 
                <select name="sport" class="white-option transparent-selector" id="sport">
                    {{#each availableSports}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select> 
                <a id="year-button">Create</a>
            </div>
            <div class="centered-buttons">
                <a id="screenshot" class="center-btn" href="#" title="Screenshot">
                    <img class="logo" src="/styles/share.svg">
                </a>
                <a id="logout-button" class="center-btn" style="" href="/logout" title="Log out">
                    <img class="logo" src="/styles/logout.svg">
                </a>
                <div id="exportSTL" class="center-btn" title="3D export">
                    <img class="logo" src="/styles/cubes-3d.svg">
                </div>
            </div>
        </div>
        <a id="code-button" class="logo-button" target="_blank" style="" href="https://github.com/QuentinPhilipp/strava-3D-stats" title="Check code source on GitHub">
            <img class="logo" src="/styles/code.svg">
        </a>

    </div>
    <footer>
        <a class="poweredBy" target="_blank" style="" href="https://strava.com/" title="Powered by Strava">
            <img class="responsive-logo" src="/styles/pwrdByStrava.png">
        </a>
    </footer>

</body>
</html>